@page "/editBinItem/{Id:int}"

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@inject IBinItemService BinItemService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

@rendermode InteractiveAuto





@if (Id == null)
{
    <h3>Cannot create a item without a Id. </h3>
}
else
{
    <div class="row mb-4">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h2>Edit Bin Item</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/bins">Storage Bins</a></li>
                        </ol>
                    </nav>
                </div>
                <div>
                    <a href="/viewBin/@Id" class="btn btn-secondary">
                        <i class="fas fa-arrow-left"></i> Back to bin
                    </a>
                </div>
            </div>
        </div>
    </div>

    <EditForm FormName="editBinItem" Model="binItem" OnValidSubmit="HandleSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div>
            <div class="mb-3">
                <label class="form-label">Name</label>
                <InputText class="form-control" @bind-Value="binItem.Name" />
            </div>

            <div class="mb-3">
                <label class="form-label">Description</label>
                <InputTextArea class="form-control" @bind-Value="binItem.Description" />
            </div>

            <div class="mb-3">
                <label class="form-label">Quantity</label>
                <InputNumber class="form-control" @bind-Value="binItem.Quantity" />
            </div>
        </div>


        <br>

        <button type="submit" class="btn btn-primary">Submit</button>

    </EditForm>
}



@code {
    [Parameter]
    public int? Id { get; set; }


    BinItem binItem { get; set; } = new BinItem
    {
        Name = string.Empty,
        Description = string.Empty,
        Quantity = 0,
        StorageBinId = 0
    };

    protected override async Task OnParametersSetAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();


        if (Id.HasValue)
        {
            var existingBinItem = await BinItemService.GetBinItemById(Id.Value);
            if (existingBinItem != null)
                binItem = existingBinItem;
        }

    }


    async Task HandleSubmit()
    {
        try
        {

            if (Id.HasValue)
            {
                binItem.Id = Id.Value;
                await BinItemService.UpdateBinItem(binItem);
            }
            else
            {
                await BinItemService.AddBinItem(binItem);
            }

            StateHasChanged();

            await InvokeAsync(() => NavigationManager.NavigateTo($"/viewBin/{binItem.StorageBinId}"));
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine($"Error saving storage Bin: {ex.Message}");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Unexpected error: {ex.Message}");
        }
    }




}