@page "/bins"

<h3>BinsList</h3>
<h2><ul class="list-inline">
    <li class="list-inline-item">Bin 1</li>
    <li class="list-inline-item">Bin 2</li>
    <li class="list-inline-item">Bin 3</li>
</ul>
</h2>
@code {

}
