@rendermode RenderMode.InteractiveAuto
@inject NavigationManager NavigationManager


<button @onclick="EditBin" class="btn btn-primary">Edit</button>


@code {
    [Parameter]
    public int Id { get; set; }
    void EditBin()
    {
        NavigationManager.NavigateTo($"/editBin/{Id}");
    }
}
